@inherits LayoutComponentBase

<PageTitle>Sam Rubin Portfolio</PageTitle>

<div class="container px-0">
    <header class="bg-dark mb-3">
        <div class="mt-4" id="site-brand">
            <h1><a class="text-white fw-normal fs-1 text-decoration-none" asp-area="" asp-page="/Index">Sam Rubin Portfolio</a></h1>
            <h2 class="fw-light fs-4 mb-0">Game Devlopment Portfolio</h2>
        </div>
    </header>
    <div>
        <NavMenu />
    </div>

    <main role="main" class="pb-3 px-3 bg-white pt-3" style="--bs-bg-opacity: .2;">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container text-white">
        &copy; 2024 - Sam Rubin Portfolio, Coded by <a href="https://github.com/dcook3" target="_blank" ref="no-referrer">Dylan Cook</a> - <a id="contact-button2">Contact Sam</a> <!--Similar to above, tag will not navigate to a page, but will open a gmail prompt to send sam an email.-->
    </div>
</footer>